

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    height: 1024px;
    background: url(img/backtop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
    width: 788px;
}

.top__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
    width: 488px;
}

.top__button {
    padding-top: 44px;
}

.top__button_box:hover {
    background: #9C0332;
    transform: scale(1.03);
    box-shadow: 0 0 2px white;
}

.top__button_box {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    transition: all .3s;
}

.main {
    height: 556px;
    background: #000915;
}

.game__image {
    transition: all .3s;
    padding-left: 16px;
    padding-bottom: 32px;
    border-radius: 16px;
}

.game__image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}

.main__game {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 128px;
}

.game__image_1 {
    background: url(img/game1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 378px;
    height: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.game__image_2 {
    background: url(img/game2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 378px;
    height: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.game__image_3 {
    background: url(img/game3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 378px;
    height: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@import 'mobile';

